header{
    background-color: #FFFFFF;
    display: flex;    
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

li{
    display: inline;
    margin: 5px;
}

body{
    background-color: #FFF9F9;
    margin: 0px;    
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

section{
    background-color: white;
    margin: 15% 15% 15%;
    padding: 20px;
    box-shadow: 0 14px 18px 10px rgba(128, 128, 128, 0.171) ;    
}


h2{
    text-align: center;
}

h5{
    text-align: center;
}

.button{
    background-color: #5264C7;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 1% 1%;
}

.article{
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    margin-bottom: 15px;    
}


.round{
    border-radius: 12px;
    margin: 1% 1%;
    border: 1px solid #e1e5fa;

}

footer{
    background-color: #5264C7;
    color: white;
    padding: 5px;
}
