* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* Buatlah styling section top dibawah ini */
.top{
    background-color: #FFFFFF;  
    text-align: center;
    padding: 4%;
    width: 100%;    
    top: 0px;
    right: 0px;
    left: 0px;
}

.icon{
    margin-top: 2%;
}

i{
    padding: 10px ;
}

body{
    background-color: #FFF9F9;
    margin: 0px;    
    font-family: 'Roboto', sans-serif;
}


/* Buatlah styling section container dan card dibawah ini */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 3%;
}

.logo{
    height: auto;
    width: 100%;
}

.card{  
    background-color: white; 
    width: 100%;
    box-shadow: 0 14px 18px 10px rgba(128, 128, 128, 0.192) ;
}

.description{
    margin-top: 15px;
    padding: 15px ;
    width: 80%;
}

/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
@media only screen and (max-width : 480px ){

.container{
    display:grid;
    grid-template-columns: 1fr;    
}

.card{   
    width: auto;    
}
}

@media only screen and (min-width : 480px ) and (max-width : 768px ){
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;    
}

.card{   
    width: auto;    
}
}