* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 22px;
}

/* Buatlah styling setiap section dibawah ini */
.container {
    width: 780px;
    margin: 0 auto;
}

p{
    font-size: 12px;
    
}



button{
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;    
    cursor: pointer;
    margin: 1% 1%;
}
.container_hero{
    display: grid;
    grid-template-columns: 70%  30%;
    grid-gap: 150px;
    background-color: #003b0d;
    width: 100%;
    padding: 50px;
    border-radius: 12px;
    color: white;
}

.container_bottom{
    width: 100%;
    padding: 0;
}

.container_support{
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 50px;
    padding-bottom: 30px;
}

.logo{
    display: grid;
    grid-template-columns: 25%  25% 25% 25%;
    grid-gap: 50px;
    padding-top: 5%;
    height: auto;
    width: 100%;

}

.container_features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding-top: 10%;
    height: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 50px;
}

.container_features_title{
    padding-bottom: 30px;
    text-decoration: underline;
}

.container_pricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 3%;
    background-color: #003b0d;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    width: 100%;
}

.container_pricing-card{
    background-color: white; 
    width: 80%;
    box-shadow: 0 14px 18px 10px rgba(128, 128, 128, 0.192) ;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

small{
    font-size: 12px;
}

li{
    font-size: 12px;
    text-align: left;
}

.container_pricing_title{
    padding-bottom: 30px;
    text-decoration: underline;
}




/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive dibawah sini*/

@media only screen and (max-width: 480px){

}

@media only screen and (min-width: 480px) and ( max-width: 780px ){

}